.container{
   width:20%;
   height:200px; 
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   /* border: 1px solid grey;  */
   border-radius: 2rem;
   margin:1rem 0.1rem;
   box-shadow: 0px 0px 3px grey;
}

.countryFlag{
   width:70%;
}

.countryName{

}